# Quarto output directories
/_site/
/.quarto/

# R-related files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Python-related files (if using Python)
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE-specific files
.vscode/
.idea/

# Temporary files
*.log
*.tmp
Medicare Monthly Enrollment/2025-10/Medicare Monthly Enrollment Data_October 2025.csv
Medicare Monthly Enrollment.zip

**/*.quarto_ipynb
